{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1 class="pt-4 pb-4">About Myself</h1>
        <p>I am Prachet Shah, currently a student completing my B.Tech in Computer Science(Data Science) from DJSCE and a Tech lover who loves exploring new technologies and ideas.I have knowledge on programming languages like Python, C, C++, HTML, CSS, JavaScript, and I have worked with many frameworks and libraries from this languages.</p>

<p>This Blog Page is created using Flask Framework and CSS is added using inbuilt flask-bootstrap library to create a dynamic and responsive website which consists of tech related blogs which I research about and write on my page.</p>

<p>You can contact me from Contact Me page or visit my social media handles which are specified below.</p>
       
<h1>About this Blog Web Application created using Flask</h1>

<h2>Features:</h2>

<ul>
	<li>Secure Authentication with Hash-and-Salting Applied on passwords</li>
	<li>Data Stored in PostgreSQL</li>
	<li>Admin only changes allowed on site</li>
	<li>Comments can be added on Posts</li>
	<li>Contact Me Page and About Page</li>
	<li>Flask Flashcard warnings on entering incorrect Login Details&nbsp;</li>
	<li>Redirects to Login Page when previous users tries to Register Again</li>
</ul>

      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
